
# Ignore env files
.env
.idea
.pw
.secret
images/
volumes/
*.pyc
docker_build_files/docker-compose.yml
docker_build_files/.ip
docker_build_files/.env
docker_build_files/.domain

# Ignore build folders
client_tools/lms/src/build-*
client_tools/svc/build
client_tools/svc/dist
client_tools/sshot/build
client_tools/sshot/dist


.enabled

/client_tools/bin/ClamAV-x64/clamavdb

# Ignore bare repo sub folder
ope.git
/admin_app/syncope.ini
/docker_build_files/docker-compose.yml
/admin_app/build/SyncApp
/admin_app/dist/SyncApp
/SyncApp/syncope.ini
/syncope.ini
/client_tools/bin/Win 10 1607 Security Baseline/Local_Script/LOGS/*.log
/client_tools/sysprep_scripts/AppAssoc.xml
/client_tools/sysprep_scripts/wmic.err
/admin_app/SyncApp.spec
/repos
/laptop_credential/build
/laptop_credential/dist
/admin_app/filename.log
/admin_app/ssh.log
