
# Ignore env files
.env
.idea

images/
volumes/
*.pyc
docker_build_files/docker-compose.yml
docker_build_files/.ip
docker_build_files/.env
docker_build_files/.domain

# Ignore build folders
client_tools/lms/src/build-*


.enabled

/client_tools/bin/ClamAV-x64/clamavdb

# Ignore bare repo sub folder
ope.git
