
# Ignore env files
/docker/
.NTP_SERVERS
.CANVAS_ENC_SECRET
.CANVAS_RCE_DEFAULT_DOMAIN
.CANVAS_SIGN_SECRET
.CANVAS_DEFAULT_DOMAIN
.CANVAS_LOGIN_PROMPT
.CANVAS_SECRET
.DOMAIN
.IP
.IT_PW
.LMS_ACCOUNT_NAME
.NETWORK_MODE
.OFFICE_PW
.TIME_ZONE
.VOLUMES
.SMC_DEFAULT_DOMAIN
.IS_ONLINE
.ACME_AUTH_CODE
.DNS_EXTRAS
.CANVAS_MATHMAN_DEFAULT_DOMAIN

.env
.idea
.pw
.secret
images/
volumes/
*.pyc
docker_build_files/docker-compose.yml
docker_build_files/.ip
docker_build_files/.env
docker_build_files/.domain

# Ignore build folders
client_tools/lms/src/build-*
client_tools/svc/build
client_tools/svc/dist
client_tools/sshot/build
client_tools/sshot/dist


.enabled

/client_tools/bin/ClamAV-x64/clamavdb

# Ignore bare repo sub folder
ope.git
/admin_app/syncope.ini
/docker_build_files/docker-compose.yml
/admin_app/build/SyncApp
/admin_app/dist/SyncApp
/SyncApp/syncope.ini
/syncope.ini
/client_tools/bin/Win 10 1607 Security Baseline/Local_Script/LOGS/*.log
/client_tools/sysprep_scripts/AppAssoc.xml
/client_tools/sysprep_scripts/wmic.err
/repos
/laptop_credential/build
/laptop_credential/dist
/admin_app/filename.log
/admin_app/ssh.log

docker_build_files/.CANVAS_DEFAULT_DOMAIN
docker_build_files/.CANVAS_LOGIN_PROMPT
docker_build_files/.CANVAS_SECRET
docker_build_files/.DOMAIN
docker_build_files/.IP
docker_build_files/.IT_PW
docker_build_files/.LMS_ACCOUNT_NAME
docker_build_files/.NETWORK_MODE
docker_build_files/.OFFICE_PW
docker_build_files/.TIME_ZONE
docker_build_files/.VOLUMES

/SyncApp/ssh.log

/SyncApp/ssh.log
projekktor-1.8.2_build
/client_tools/svc/MSG00001.bin
/client_tools/svc/mgmt_EventLogMessages.h
/client_tools/svc/mgmt_EventLogMessages.rc
/client_tools/svc/mgmt_EventLogMessages.res
/admin_app/.vscode
exported_gpo
