test:
  adapter: postgresql
  encoding: utf8
  database: canvas_production
  host: postgresql
  port: 5432
  username: postgres
  password: "<IT_PW>"
  timeout: 50000
  pool: 150

login: &login
  adapter: postgresql
  encoding: utf8
  timeout: 50000
  username: "postgres"
  password: "<IT_PW>"
  pool: 150

development:
  <<: *login
  database: canvas_production
  host: postgresql
  port: 5432
  queue:
    <<: *login
    database: canvas_queue_production

production:
  <<: *login
  database: canvas_production
  host: postgresql
  port: 5432
  queue:
    <<: *login
    database: canvas_queue_production