production:
  config:
    canvas:
      canvas:
        encryption-secret: <CANVAS_ENC_SECRET>
        signing-secret: <CANVAS_SIGN_SECRET>
      rich-content-service:
        app-host: <CANVAS_RCE_DEFAULT_DOMAIN>
      math-man:
        base_url: 'https://<CANVAS_MATHMAN_DEFAULT_DOMAIN>'
        use_for_svg: 'true'
        use_for_mml: 'true'
