production:
  config:
    canvas:
      canvas:
        encryption-secret: <CANVAS_ENC_SECRET>
        signing-secret: <CANVAS_SIGN_SECRET>
      rich-content-service:
        app-host: <CANVAS_RCE_DEFAULT_DOMAIN>
